body {
  margin: 0;

  font-family: "Fira sans", sans-serif;
  font-size: 16px;
  color: #111238;
}

.menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-item:not(:last-child) {
  margin-right: 20px;
}

.menu-link {
  color: #111238;
  text-decoration: none;
}

.button {
  display: inline-block;

  text-decoration: none;
}

.button-link {
  margin-right: 30px;
  padding: 10px;

  color: #111238;
}

.button-primary {
  padding: 15px 30px;

  color: #fff;

  background-color: #1a75e8;
  border-radius: 5px;
}